* {
  margin: 0%;
  padding: 0%;
}

header {
  border-top: 5px solid #f38a3b;
}

.navbar-brand img {
  width: 130px;
}

.nav-item .nav-link {
  color: #000 !important;
}

.nav-item .nav-link:hover {
  color: #f38a3b !important;
}

.dropdown-menu .dropdown-item:hover {
  color: #f38a3b !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.home {
  background-image: url(image/home-bg-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.home-container {
  display: flex;
  width: 90%;
  margin: 50px auto;
}

.home-box-1 {
  width: 60%;
  margin: 100px 0px 59px 20px;
}

.section-heading-2 {
  color: #3f4b52;
  font-size: 2.2rem;
}

.section-heading-1 {
  color: #f38a3b;
}

.section-para {
  color: #3f4b52;
  font-size: 1.4rem;
}

.section-button {
  background-image: linear-gradient(180deg, #f49037, #f07748);
  padding: 10px 30px;
  font-size: 0.9rem;
  border-radius: 21px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}

.section-button img {
  width: 17px;
  margin-left: 15px;
}

.home-box-2 img {
  max-width: 100%;
  height: auto;
}

.partner .section-para {
  text-align: center;
}

.partner-container {
  display: flex;
  width: 80%;
  margin: 60px auto;
  justify-content: space-evenly;
}

.partner-box img {
  width: 100px;
}

.service {
  background-color: #fffbf8;
}

.service-header {
  width: 90%;
  text-align: center;
  margin: auto;
}

.service-header .section-heading-1,
.section-heading-2 {
  font-size: 2rem;
}

.service-card-box {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: space-evenly;
}

.service-card {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 21px;
}

.service-card-container {
  margin-top: 50px;
  padding: 15px 15px;
  box-shadow: 0 0 23px 5px rgb(135 131 131 / 13%);

  border-radius: 21px;
}

.service-card-1,
.service-card-3 {
  background: linear-gradient(74.79deg, #d55774 21.38%, #f2d289 103.63%);
}

.service-card-2 {
  background: linear-gradient(180deg, #4792e1, #245e9b);
}

.service-card span {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  margin-left: 30px;
}
.service-card img {
  width: 200px;
}

.service-card-info .service-info-list {
  line-height: 2rem;
}

.service-card-info .service-info-list span {
  color: #3f4b52;
  font-size: 0.9rem;
}

.service-card-info .service-info-list img {
  width: 20px;
}

.placement-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px auto;
  padding: 50px 0px;
  box-shadow: 0 0 23px 5px rgb(135 131 131 / 13%);
  border-radius: 14px;
  justify-content: space-evenly;
}

.placement-container-box {
  display: flex;
  align-items: center;
}

.description {
  font-size: 0.9rem;
}

.placement-icon {
  padding: 11px;
  background: #fff2eb;
  border-radius: 12.75px;
  margin-right: 16px;
}

.placement-header {
  display: flex;
  justify-content: center;
}

.companies h2 {
  width: 90%;
  margin: auto;
  color: #3f4b52;
  text-align: center;
}

.company-info {
  max-width: 638px;
  width: 100%;
  margin: 50px auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: #3f4b52;
}

.packs h2 {
  width: 90%;
  margin: auto;
  color: #3f4b52;
  text-align: center;
}

.pack-container {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  margin: 50px auto;
}

.pack-image {
  position: relative;
}

.pack-image img {
  width: 300px;
}

.pack-human {
  position: absolute;
  top: 0%;
  left: 0%;
}

.pack-info {
  position: relative;
}

.pack-information {
  box-shadow: 0 0 23px 5px rgb(135 131 131 / 13%);
  border-radius: 14px;
  padding: 15px;
  width: 90%;
  position: absolute;
  top: 82%;
  left: 5%;
  background-color: #fff;
}

.pack-title {
  text-align: center;
  font-size: 1.4rem;
}

.pack-box a {
  text-decoration: none;
  color: #000;
}

.pack-para {
  text-align: center;
  margin-top: 10px;
}

.cover {
  background-image: url(image/bg-image-for-section.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin: 200px 0px 0px 0px;
  height: auto;
}

.cover-container {
  display: flex;
  justify-content: space-evenly;
}

.cover-box {
  width: 40%;
  margin-top: -26px;
  display: flex;
  align-items: center;
}

.cover-box img {
  max-width: 100%;
  height: 466px;
}

.cover-heading {
  color: #fff;
}

footer {
  background: #3f4b52;
  padding: 50px 0px;
}

.footer-container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-box {
  width: 20%;
}

.footer-info .footer-logo {
  width: 150px;
}

.footer-info p {
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: #d9dbe1;
  margin-top: 10px;
  text-align: justify;
}

.footer-social-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-link h2 {
  color: #fff;
  font-size: 1rem;
}

.footer-social-links a {
  text-decoration: none;
}

.footer-link {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

.footer-link a {
  color: #d9dbe1;
  font-size: 0.8rem;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .home-container {
    flex-direction: column;
  }

  .home-box-1 {
    width: 80%;
    margin: 0px auto 20px auto;
  }

  .home-box-2 {
    text-align: center;
  }

  .pack-container {
    flex-direction: column;
  }

  .pack-info {
    width: 60%;
    margin: 50px auto;
  }
  .pack-image img {
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 768px) {
  .home-box-1 {
    width: 90%;
  }

  .partner-box img {
    width: 70px;
  }

  .placement-container {
    flex-direction: column;
    align-items: center;
  }
  .placement-container-box {
    margin: 20px;
  }

  .cover-container {
    flex-direction: column;
  }

  .cover-box {
    padding: 40px 0px 0px 0px;
    margin: 0px auto 0px auto;
    width: 80%;
  }

  .cover-heading {
    text-align: center;
  }

  .cover-box img {
    margin: auto;
  }

  .footer-box-1 {
    display: flex;
    justify-content: flex-start;
    width: 33%;
    margin: 44px;
  }
}

@media screen and (max-width: 576px) {
  .section-heading-1 {
    font-size: 2rem;
  }

  .section-heading-2 {
    font-size: 1.5rem;
  }

  .section-para {
    font-size: 1rem;
  }

  .partner-box img {
    width: 50px;
  }

  .pack-title {
    font-size: 1.2rem;
  }

  .pack-para {
    font-size: 0.9rem;
  }

  .cover-box {
    padding: 40px 0px 0px 0px;
    margin: 0px auto 0px auto;
    width: 70%;
  }

  .footer-container {
    width: 100%;
  }

  .footer-box {
    width: 30%;
  }
}

@media screen and (max-width: 450px) {
  .section-para {
    font-size: 0.9rem;
  }

  .section-button {
    padding: 5px 10px;
  }

  .service-card-container {
    width: 95%;
  }

  .service-card {
    justify-content: space-between;
  }

  .service-card img {
    width: 132px;
  }

  .pack-info {
    width: 80%;
  }

  .cover-heading {
    font-size: 1.2rem;
  }

  .cover-box img {
    max-width: 100%;
    height: auto;
  }

  .footer-box {
    width: 70%;
    margin: 30px auto;
  }
}

/* scroll Bar Code */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f38a3b;
}
